#@ Container Runtime User
#-  - PUID -
#-    The user ID that the services will run as
PUID=1000
#-  - PUID -
#-    The user ID that the services will run as
PGID=1000
#@ Container Paths
#-  - DATA_PATH -
#-    The Path to the config and storage directory
DATA_PATH=./appdata/unmanic-central-datastore
#@ Service Config
#-  - UNMANIC_CENTRAL_PORT -
#-    The port that will be exposed for the logs datastore
UNMANIC_CENTRAL_PORT=8889
#-  - UNMANIC_CENTRAL_POSTGRES_PORT -
#-    The port that will be exposed fpr postgres
UNMANIC_CENTRAL_POSTGRES_PORT=5432
#-  - UNMANIC_CENTRAL_NAME -
#-    The name for this installation of Unmanic Central Datastore
UNMANIC_CENTRAL_NAME=Unmanic Central DB
#-  - UNMANIC_CENTRAL_PATH_PREFIX -
#-    A path prefix for accessing the datastore URL
UNMANIC_CENTRAL_PATH_PREFIX=/unmanic
#-  - UNMANIC_CENTRAL_DATASTORE_PASSWORD -
#-    A strong basic auth password. The username will always be 'unmanic'.
UNMANIC_CENTRAL_DATASTORE_PASSWORD=CreateYourOwnStrongPasswordHere
#-  - UNMANIC_CENTRAL_POSTGRES_USERNAME -
#-    A postgres username.
UNMANIC_CENTRAL_POSTGRES_USERNAME=postgres
#-  - UNMANIC_CENTRAL_POSTGRES_PASSWORD -
#-    A strong postgres password.
UNMANIC_CENTRAL_POSTGRES_PASSWORD=CreateYourOwnStrongPasswordHere
#-  - UNMANIC_CENTRAL_POSTGRES_HOST -
#-    The postgres host name.
UNMANIC_CENTRAL_POSTGRES_HOST=postgres
#-  - UNMANIC_CENTRAL_POSTGRES_DB -
#-    The postgres database name.
UNMANIC_CENTRAL_POSTGRES_DB=unmanic
